@import '/src/styles/variables.scss';


.loginWrapper {
    display: flex;
    height: 100vh;
    position: relative;

    .leftContent {
        width: 50%;
        flex-direction: column;

        .formLogin {
            width: 100%;
            max-width: 28rem;
            background: $colorWhite;
            padding: 1rem;
            border-radius: 1.5rem;
            box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.35);
            transform: scale(0);
            transition: .5s ease-in-out;
            transition-delay: 1s;

            .inputGroup {
                position: relative;
                width: 100%;
                margin: 1rem 0;
                
                .iconInput {
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    transform: translateY(-50%);
                    font-size: 1.4rem;
                    color: $colorGray1;
                }

                .input {
                    width: 100%;
                    padding: 1rem 3rem;
                    font-size: 1rem;
                    background-color: $colorGray;
                    border-radius: .5rem;
                    border: 0.125rem solid $colorWhite;
                    outline: none;

                    &:focus {
                        border: 0.125rem solid $colorPrimary;
                    }
                }
            }

            .btnSignIn {
                cursor: pointer;
                width: 100%;
                padding: .6rem 0;
                border-radius: .5rem;
                border: none;
                background-color: $colorPrimary;
                color: $colorWhite;
                font-size: 1.2rem;
                outline: none;
            }

            .forgotPassword {
                text-align: center;
                margin: 1rem 0;

                .link {
                    font-size: .7rem;
                    font-weight: bold;
                }
            }

            .havAccount {
                margin: 1rem 0;
                text-align: center;
                font-size: .7rem;

                .toggleRegister {
                    font-weight: bold;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }

        .wrapperSocial {
            display: flex;
            width: 100%;
            max-width: 28rem;
            margin: 2rem 0;
            padding: 1rem;
            border-radius: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.35);
            background: $colorWhite;
            transition: .5s ease-in-out;
            transform: scale(0);
            transition-delay: 1.2s;

            .socialItem {
                margin: 0 .5rem;
                padding: .7rem;
                cursor: pointer;
                border-radius: .5rem;
                cursor: pointer;
                transition: .5s ease-in-out;
                transform: scale(0);

                .icon {
                    transition: .3s ease-in-out;
                }

                &:hover {
                    .icon {
                        transform: scale(1.3);
                    }
                }

                &:nth-child(1) {
                    background: $colorFacebook;
                    transition-delay: 1.4s;
                }

                &:nth-child(2) {
                    background: $colorGoogle;
                    transition-delay: 1.6s;
                }

                &:nth-child(3) {
                    background: $colorTwitter;
                    transition-delay: 1.8s;
                }

                &:nth-child(4) {
                    background: $colorInsta;
                    transition-delay: 2s;
                }
            }
        }
    }

    .rightContent {
        width: 50%;
        flex-direction: column;

        .formLogin {
            width: 100%;
            max-width: 28rem;
            background: $colorWhite;
            padding: 1rem;
            border-radius: 1.5rem;
            box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.35);
            transform: scale(0);
            transition: .5s ease-in-out;
            transition-delay: 1s;

            .inputGroup {
                position: relative;
                width: 100%;
                margin: 1rem 0;
                
                .iconInput {
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    transform: translateY(-50%);
                    font-size: 1.4rem;
                    color: $colorGray1;
                }

                .input {
                    width: 100%;
                    padding: 1rem 3rem;
                    font-size: 1rem;
                    background-color: $colorGray;
                    border-radius: .5rem;
                    border: 0.125rem solid $colorWhite;
                    outline: none;

                    &:focus {
                        border: 0.125rem solid $colorPrimary;
                    }
                }
            }

            .btnSignIn {
                cursor: pointer;
                width: 100%;
                padding: .6rem 0;
                border-radius: .5rem;
                border: none;
                background-color: $colorPrimary;
                color: $colorWhite;
                font-size: 1.2rem;
                outline: none;
            }

            .forgotPassword {
                text-align: center;
                margin: 1rem 0;

                .link {
                    font-size: .7rem;
                    font-weight: bold;
                }
            }

            .havAccount {
                margin: 1rem 0;
                text-align: center;
                font-size: .7rem;

                .toggleRegister {
                    font-weight: bold;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }

        .wrapperSocial {
            display: flex;
            width: 100%;
            max-width: 28rem;
            margin: 2rem 0;
            padding: 1rem;
            border-radius: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.35);
            background: $colorWhite;
            transition: .5s ease-in-out;
            transform: scale(0);
            transition-delay: 1.2s;

            .socialItem {
                margin: 0 .5rem;
                padding: .7rem;
                cursor: pointer;
                border-radius: .5rem;
                cursor: pointer;
                transition: .5s ease-in-out;
                transform: scale(0);

                .icon {
                    transition: .3s ease-in-out;
                }

                &:hover {
                    .icon {
                        transform: scale(1.3);
                    }
                }

                &:nth-child(1) {
                    background: $colorFacebook;
                    transition-delay: 1.4s;
                }

                &:nth-child(2) {
                    background: $colorGoogle;
                    transition-delay: 1.6s;
                }

                &:nth-child(3) {
                    background: $colorTwitter;
                    transition-delay: 1.8s;
                }

                &:nth-child(4) {
                    background: $colorInsta;
                    transition-delay: 2s;
                }
            }
        }
    }
}


.backgroundContent {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;

    .leftContent {
        width: 50%;
        flex-direction: column;

        .messContent {
            margin: 4rem;
            color: $colorWhite;

            .welcome {
                font-size: 3.5rem;
                font-weight: 800;
                margin: 2rem 0;
                transition: 1s ease-in-out;
                transform: translateX(-150%);
            }

            .description {
                font-weight: 600;
                transition: 1s ease-in-out;
                transition-delay: .2s;
                transform: translateX(-150%);
            }
        }

        .unDrawLoginView {

            .unDrawLogin {
                width: 30vw;
                transition: 1s ease-in-out;
                transition-delay: .4s;
                transform: translateX(-150%);
            }
        }
    }

    .rightContent {
        width: 50%;
        flex-direction: column;
        // background: rgb(55, 43, 226);


        .messContent {
            margin: 4rem;
            color: $colorWhite;

            .welcome {
                font-size: 3.5rem;
                font-weight: 800;
                margin: 2rem 0;
                transition: 1s ease-in-out;
                transform: translateX(150%);
            }

            .description {
                font-weight: 600;
                transition: 1s ease-in-out;
                transition-delay: .2s;
                transform: translateX(150%);
            }
        }

        .unDrawLoginView {

            .unDrawLogin {
                width: 30vw;
                transition: 1s ease-in-out;
                transition-delay: .4s;
                transform: translateX(150%);
            }
        }
    }
}

.showSignIn {
    .rightContent {
        .formLogin {
            transform: scale(1);
        }
        .wrapperSocial {
            transform: scale(1);
    
            .socialItem {
                transform: scale(1);
            }
        }
    }

    .backgroundContent {
        .leftContent {
            .welcome,
            .description,
            .unDrawLogin {
                transform: translateX(0);
            }
        }
  
    }
}


.showSignUp {
    .leftContent {
        .formLogin {
            transform: scale(1);
        }
        .wrapperSocial {
            transform: scale(1);
    
            .socialItem {
                transform: scale(1);
            }
        }
    }

    .backgroundContent {
        .rightContent {
            .welcome,
            .description,
            .unDrawLogin {
                transform: translateX(0);
            }
        }
    }
}


.loginWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300vw;
    transform: translate(35%, 0);
    background-image: linear-gradient(-45deg, $colorPrimary 0%, $colorSecondary 100%);
    transition: 1s ease-in-out;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom-right-radius: #{"max(50vw, 50vh)"};
    border-top-left-radius: #{"max(50vw, 50vh)"};
}

.showSignIn::before {
    transform: translate(0,0);
    right: 50%;
}

.showSignUp::before {
    transform: translate(100%,0);
    right: 50%;
}

