// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./variables.scss";

@font-face {
    font-family: MyFont;
    src: url(../../public/fonts/MyriadProCondensed/MyriadProCondensed.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

a,p, span, h3, button, i, div {
    font-weight: 400;
    font-display: swap;
}

body {
    font-family: MyFont, sans-serif;
    overflow-x: hidden;
    background-color: $colorPrimary;
    color: $colorText;
}

a {
    color: inherit;
    text-decoration: none;
}

*,
p,
h1,
h2,
h3,
h4 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.text-primary {
    color: $colorPrimary;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.red-color {
    background-color: rgb(255, 30, 0);
}

.pink-color {
    background-color: rgb(255, 0, 140);
}

.yellow-color {
    background-color: rgb(255, 251, 0);
}

.black-color {
    background-color: #000000;
}

.sliver-color {
    background-color: rgb(173, 173, 173);
}

.green-color {
    background-color: rgb(0, 255, 21);
}

.white-color {
    background-color: #fff;
}

.blue-color {
    background-color: #14173f;
}

// ANIMATION

.right-to-left {
    transition: 1s;
    transform: translateX(100%);
}


@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 480px) {
}