$menuHeight: 144px;

$colorPrimary: #1d1d1d;
$colorSecondary: #3a3a3a;
$colorText: #bbbbbb;

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGray: #efefef;
$colorGray1: #757575;

$colorFacebook: #4267b2;
$colorGoogle: #db4537;
$colorTwitter: #1fa1f1;
$colorInsta: #e12f6c;


// $boxShadow: rgb(0 0 0 / 35%) 0px 5px 15px;
