@import '/src/styles/variables.scss';
@font-face {
    font-family: MyFont_1;
    src: url(../../../../public/fonts/BerlinSansFBDemiBold/BerlinSansFBDemiBold.ttf);
}


.wrapperSlider {
    overflow: hidden;
    height: 100vh;

    .slider {
        height: 500vh;
    }
}


.wrapperSlide {
    flex-wrap: wrap;
    display: flex;
    height: 100vh;
    z-index: 99;

    .leftContent {
        width: 50%;
        position: relative;
        height: 100vh;

        .productInfo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            padding: 0 10%;
            color: $colorText;

            .infoWrapper {
                margin: 0 auto;
                position: relative;
                text-align: right;

                //price
                .price {
                    font-weight: 900;
                    font-size: xx-large;

                    span {
                        font-size: large;
                    }
                }

                // name
                .name {
                    h1 {
                        font-size: 5rem;
                        font-family: MyFont_1, sans-serif;
                        color: $colorWhite;
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke-width: 2px;
                        text-transform: capitalize;
                    }
                }

                // size
                .size {
                    margin: 20px 0;
   
                    .title {
                        font-size: 18px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .sizeWrapper {
                        display: flex;
                        flex-flow: row-reverse;
                        padding: 5px;

                        .sizeItem {
                            font-weight: 900;
                            margin: 5px;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            border: 2px solid $colorText;
                            color: $colorText;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            &:hover {
                                border: 2px solid $colorWhite;
                                color: $colorWhite;
                                box-shadow: 0 0 6px rgba($color: $colorWhite, $alpha: 0.4);
                            }
                        }
                    }
                }

                // color 
                .color {
                    .title {
                        font-size: 18px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .colorWrapper {
                        display: flex;
                        flex-flow: row-reverse;
                        padding: 5px;

                        .colorItem {
                            margin: 5px;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            border: 2px solid $colorText;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            &:hover {
                                border: 2px solid $colorWhite;
                                color: $colorWhite;
                                box-shadow: 0 0 6px rgba($color: $colorWhite, $alpha: 0.4);
                            }

                            .typeColor {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                // description
                .description {
                    margin: 60px 0;
                    text-align: justify;
                    font-weight: 600;
                }

                // button add to cart
                .btnAddCartView {
                    .btnAddCart {
                        font-weight: 900;
                        font-size: x-large;
                        padding: 15px 60px;
                        border-radius: 30px;
                        border: 2px solid $colorText;
                        background: $colorPrimary;
                        color: $colorText;
                        transition: .5s;
                        cursor: pointer;

                        &:hover {
                            border: 2px solid $colorPrimary;
                            background: $colorText;
                            color: $colorPrimary;
                        }
                    }
                }
            }
        }
    }

    .rightContent {
        position: relative;
        width: 50%;
        height: 100vh;

        .productImage {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            .imageWrapper {
                transition: 1s;
                transform: translateX(100%);

                .image {
                    height: auto;
                    width: 80%;
                    transform: rotate(-35deg);
                }
            }
        }

        .listMoreImage {
            position: absolute;
            right: 90px;
            top: 50%;

            .moreImagesItem {
                height: fit-content;
                border-radius: 15px;
                overflow: hidden;
                margin: 5px 0;
                transform: translateY(100vh);
                transition: 1s;

                &:nth-child(1) {
                    transition-delay: 0.2s;
                }

                &:nth-child(2) {
                    transition-delay: 0.4s;
                }

                &:nth-child(3) {
                    transition-delay: 0.6s;
                }

                &:nth-child(4) {
                    transition-delay: 0.8s;
                }
               
                .image {
                    height: auto;
                    width: 80px;
                    border-radius: 15px;
                    transition: 1s;
                }

                &:hover {
                    cursor: pointer;

                    .image {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }

    .backgroundProduct {
        border-bottom-left-radius: 100%;
        background-image: linear-gradient(to top right, #e19e95, #fd835c);
    }
}

.activeSlide {
    // margin-top: -100vh;
    .rightContent {
        .productImage {
            .imageWrapper {
                transform: translateX(0);
            }
        }

        .listMoreImage {
            .moreImagesItem {
                transform: translateY(0);
            }
        }
    }
}

.sliderController {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;

    .itemController {
        height: 50px;
        width: 50px;
        margin: 10px;
        transition: .5s;
        border-bottom: 2px solid transparent;
        cursor: pointer;

        .image {
            height: auto;
            width: 100%;
            filter: grayscale(100%);
            transform: rotate(-45deg);
        }

        &:hover {
            transform: translateY(-30px);
            border-bottom: 2px solid $colorText;

            .image {
                filter: unset;
            }
        }
    }

    .activeController {
        transform: translateY(-30px);
        border-bottom: 2px solid $colorText;

        .image {
            filter: unset;
        }
    }
}
