@import '/src/styles/variables.scss';

.wrapperMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $menuHeight;
    padding: 0 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.3s ease 0s, background-color 0.3s ease 0s;

    .logoPage {
        .logo {
            &:hover {
                path {
                    fill: $colorWhite;
                }
            }
        }
    }

    .listMenu {
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;

        .menuItem {
            padding: 0 15px;
            
            .menuLink {
                font-size: 24px;
                transition: all ease 0.3s;

                &:hover {
                    color: $colorWhite;
                    text-shadow: 0 0 6px rgba($color: #ffff, $alpha: 0.4);
                }
            }
        }
    }

    .actionMenu {
        display: flex;

        .icon {
            cursor: pointer;
            margin: 0 5px;
            width: 25px;
            height: 25px;
            transition: all ease 0.3s;

            &:hover {
                color: $colorWhite;
            }
        }
    }
}

.stickyHeader {
    height: 60px;
    background-color: $colorSecondary;
}